<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ca.ericw.memem">

    <uses-permission android:name="android.permission.VIBRATE" />

    <!-- There is no activity because this is a Wear-only app. -->
    <application
        android:allowBackup="true"
        android:icon="@drawable/launcher"
        android:label="@string/app_name" />
</manifest>
